.ion-select{
    width: 0px;
    height: 21px;
    padding-left: 0px;
    
}
.match-button{
    margin-bottom: 10px;

}
.paw-icon-null{
    color: #E37832 ;
}
.paw-icon-pendiente{
    color:#a2a4ab ;
}
