<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>PetPlace</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>  
    <ion-grid class="c">  
      <p><strong>usuario registrado</strong>: {{data}}</p>
    </ion-grid>  


    <ion-list>
      <ion-card *ngFor="let mascota of mascotas">
          <img src= "{{ mascota.foto }}" />
        <ion-card-header>
          <ion-card-subtitle>{{ mascota.raza }}</ion-card-subtitle>
          <ion-card-title>{{ mascota.nombre | uppercase }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{ mascota.descripcion }}</ion-card-content>
      </ion-card>
    </ion-list>
    
    

  
<ion-router-outlet id="content1"></ion-router-outlet>
<ion-button expand="block" (click)=" signout()">Logout</ion-button>
</ion-grid>  
</ion-content>
<ion-menu side="start" menuId="first" contentId="content1">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{data}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngFor="let pages of navigate">
      
    <ion-menu-toggle auto-hide="true">
      <ion-item [routerLink]="pages.url" routerDirection="forward">
      
          <ion-icon [name]="pages.icon" slot="start"></ion-icon>
             {{pages.title}} 
      </ion-item>
     

    </ion-menu-toggle>
    </ion-list>
  </ion-content>
  
      
</ion-menu>