<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>PetPlace</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-grid>  
    <ion-grid class="c">  
      <p><strong>Bienvenido</strong>: {{data}}</p>
    </ion-grid>  


    <ion-list *ngFor="let mascota of mascotas">
      <ion-card  *ngIf = "mascota.amo!=userId" >
          <img src= "{{ mascota.foto }}" (click)="goToView(mascota)">
        <ion-card-header>
            <ion-item [hidden]=!mascota.pedigree>
               
                  <ion-icon src="../assets/icon/certificate-icon.svg" slot="end"></ion-icon>
          
              </ion-item>
          <ion-card-subtitle>{{ mascota.raza }}</ion-card-subtitle>
          <ion-card-title>{{ mascota.nombre | uppercase }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{ mascota.descripcion }}</ion-card-content>
        <ion-item *ngIf="(mascota.amo!=userId && mascota.matchInfo.length>0)">
        
         <!--  <ion-fab-button class="match-button" color="red" [disabled]="(mascota.matchInfo.estado=='aceptado' && (mascota.matchInfo.emisor == userId || mascota.matchInfo.receptor == userId)) || (mascota.matchInfo.estado=='pendiente' && mascota.matchInfo.emisor == userId)">
                <ion-icon *ngIf="mascota.matchInfo.estado=='pendiente' && (mascota.matchInfo.emisor == userId || mascota.matchInfo.receptor == userId)" class = paw-icon-pendiente name="paw"></ion-icon>
                 <ion-icon *ngIf="mascota.matchInfo.estado=='pendiente' && (mascota.matchInfo.emisor != userId)" class = paw-icon-null name="paw"></ion-icon>
                <ion-icon *ngIf="mascota.matchInfo.estado == 'null'" class = paw-icon-null name="paw"></ion-icon>
                <ion-icon *ngIf="mascota.matchInfo.estado == 'aceptado' && (mascota.matchInfo.emisor == userId || mascota.matchInfo.receptor == userId)" class = paw-icon-aceptado name="paw"></ion-icon>
                <ion-icon *ngIf="mascota.matchInfo.estado == 'aceptado' && (mascota.matchInfo.emisor != userId && mascota.matchInfo.receptor != userId)" class = paw-icon-null name="paw"></ion-icon>
                <ion-select class="ion-select" interface="popover" (ionChange)="match(mascota, $event)">
                  <ion-select-option  *ngFor="let miMascota of misMascotas" value={{miMascota._id}} >{{ miMascota.nombre}}</ion-select-option>
                  </ion-select > 
                
            </ion-fab-button>-->
        
            <ion-fab-button class="match-button" color="red" disabled="true">
                <ion-icon *ngIf= "mascota.matchInfo[0].estado == 'aceptado' " class = paw-icon-aceptado name="paw"></ion-icon>
                <ion-icon *ngIf="mascota.matchInfo[0].estado == 'null' " class = paw-icon-null name="paw"></ion-icon>
                <ion-icon *ngIf="mascota.matchInfo[0].estado == 'pendiente' " class = paw-icon-pendiente name="paw"></ion-icon>
                <ion-select class="ion-select" interface="popover" (ionChange)="match(mascota, $event)">
                <ion-select-option  *ngFor="let miMascota of misMascotas" value={{miMascota._id}} >{{ miMascota.nombre}}</ion-select-option>
                </ion-select >
              
          </ion-fab-button> 


        </ion-item>
        <ion-item  *ngIf="mascota.matchInfo.length==0">
        
          <ion-fab-button class="match-button" color="red">
              <ion-icon  class = paw-icon-null name="paw"></ion-icon>
              <ion-select class="ion-select" interface="popover" (ionChange)="match(mascota, $event)">
                 
                <ion-select-option  *ngFor="let miMascota of misMascotas" value={{miMascota._id}} >{{ miMascota.nombre}}</ion-select-option>
                </ion-select >
              
          </ion-fab-button>
        
      </ion-item>
      </ion-card>
    </ion-list>
    
   
    

  
<ion-router-outlet id="content1"></ion-router-outlet>
</ion-grid>  
</ion-content>
<ion-menu side="start" menuId="first" contentId="content1">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{data}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngFor="let pages of navigate">
      
    <ion-menu-toggle auto-hide="true">
      <ion-item [routerLink]="pages.url" routerDirection="forward">
      
          <ion-icon [name]="pages.icon" slot="start"></ion-icon>
             {{pages.title}} 
      </ion-item>
     

    </ion-menu-toggle>
    </ion-list>
  </ion-content>
  
      
</ion-menu>