<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/my-pets"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-photo" >

      <img src={{mascota.foto}}>
 
  </div>

  <ion-list>
      <ion-grid>
          <ion-row>
            <ion-col>

                <ion-item text-center>
                <ion-label>
                  <h3 text-capitalize>{{mascota.nombre}}</h3>
                </ion-label>
              </ion-item>

            </ion-col>
          </ion-row>
          <ion-row>

            <ion-col>
              <ion-item>
                <ion-label>
                  <p>Raza</p>
                  <h2>{{mascota.raza}}</h2>
                </ion-label>
              </ion-item>
            </ion-col>              

          
            <ion-col>
              <ion-item>
                <ion-label>
                  <p>Sexo</p>
                  <h2>{{mascota.sexo}}</h2>
                </ion-label>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item>
                <ion-label>
                  <p>Fecha de nacimiento</p>
                  <h2>{{date}}</h2>
                </ion-label>
              </ion-item>
            </ion-col>

          </ion-row>
          <ion-row>

            <ion-col>
              <ion-item>
                <ion-label>
                  <p>Ubicacion</p>
                  <h2>{{mascota.ubicacion}}</h2>
                 </ion-label>
               </ion-item>
            </ion-col>

            <ion-col *ngIf="sex">
              <ion-item >
                <ion-label>
                  <p>Pariciones</p>
                  <h2>{{mascota.nroPariciones}}</h2>
                </ion-label>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item [hidden]=!show>
                <ion-label>
                  <p>Pedigree</p>
                  <ion-icon src="../assets/icon/certificate-icon.svg" slot="start"></ion-icon>
                </ion-label>
              </ion-item>
            </ion-col>

            

          </ion-row>
          <ion-row>

            <ion-col>
              <ion-item>
                <ion-icon src="../assets/icon/sobre-mi.svg" slot="start"></ion-icon>
                  <ion-label>
                    <p>Sobre Mi</p>
                    <h2>{{mascota.descripcion}}</h2>
                  </ion-label>
                </ion-item>
              </ion-col>

            </ion-row>
      </ion-grid>


  </ion-list>
</ion-content>