<ion-header translucent>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/welcome"></ion-back-button>
      </ion-buttons>
      <ion-title>Matches</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-card *ngFor="let match of matches">
      
      <ion-card-header>
        <ion-card-subtitle>{{ match.mascotaEmi.nombre }}</ion-card-subtitle>
        <ion-card-title>{{ match.estado | uppercase }}</ion-card-title>
      </ion-card-header>
   
    </ion-card>
    <ion-card *ngFor="let pendiente of pendientes">
      
      <ion-card-header>
        <ion-card-subtitle>{{ pendiente.emisor }}</ion-card-subtitle>
        <ion-card-title>{{ pendiente.estado | uppercase }}</ion-card-title>
        
        
        
        <ion-fab-button size="small" style="float: right;" class="coso-red">
        <ion-icon name="close-circle"  (click)="rechazar(pendiente)"></ion-icon>
        </ion-fab-button>
    
        <ion-fab-button size="small" style="float: right;" class="coso-green">
        <ion-icon name="checkmark-circle" style="float: left;" (click)="aceptar(pendiente)"></ion-icon>
        </ion-fab-button>
    
      </ion-card-header>
   
    </ion-card>
  </ion-list>
</ion-content>
