<ion-header translucent>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/welcome"></ion-back-button>
      </ion-buttons>
      <ion-title>Matches</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item>Enviados:</ion-item>
    <ion-card *ngFor="let match of matches" [class.aceptado]="match.estado==='aceptado'" [class.rechazado]="match.estado==='rechazado'" [class.pendiente]="match.estado==='pendiente'">
      
      <ion-card-header *ngIf= "match.esEmisor == true "> 
        <ion-card-subtitle class="ion-text-capitalize">{{ match.estado }}</ion-card-subtitle>
        <ion-card-title  style="font-size: initial" *ngIf= "match.estado == 'aceptado'" >{{match.nombreReceptor}} ha aceptado conocer a tu mascota {{match.nombreEmisor }}</ion-card-title>
        <ion-card-title  style="font-size: initial" *ngIf= "match.estado == 'pendiente'" >Has solicitado que {{match.nombreReceptor}} conozca a tu mascota {{match.nombreEmisor }}</ion-card-title>
        <ion-card-title  style="font-size: initial" *ngIf= "match.estado == 'rechazado'" >{{match.nombreReceptor}} ha rechazado conocer a tu mascota {{match.nombreEmisor }}</ion-card-title>
      </ion-card-header>
   
    </ion-card>
    <ion-item>Recibidos:</ion-item>
    <ion-card *ngFor="let match of matches" [class.aceptado]="match.estado==='aceptado'" [class.rechazado]="match.estado==='rechazado'" [class.pendiente]="match.estado==='pendiente'">
      
      <ion-card-header *ngIf= "match.esEmisor == false " > 
        <ion-card-subtitle class="ion-text-capitalize">{{ match.estado }}</ion-card-subtitle>
        <ion-card-title style="font-size: initial" *ngIf= "match.estado == 'pendiente'" >{{match.nombreEmisor}} quiere conocer a tu mascota {{match.nombreReceptor }}</ion-card-title>
        <ion-card-title style="font-size: initial" *ngIf= "match.estado == 'aceptado'" >Has aceptado que {{match.nombreEmisor}} conozca a tu mascota {{match.nombreReceptor }}</ion-card-title>
        <ion-card-title style="font-size: initial" *ngIf= "match.estado == 'rechazado'" >Has rechazado que {{match.nombreEmisor}} conozca a tu mascota {{match.nombreReceptor }}</ion-card-title>
        
        <ion-fab-button *ngIf= "match.estado == 'pendiente' " color="danger" size="small" style="float: right;">
        <ion-icon name="close"  (click)="rechazar(match)" ></ion-icon>
        </ion-fab-button>
    
        <ion-fab-button *ngIf= "match.estado == 'pendiente' " color="success" size="small" style="float: right;">
        <ion-icon name="checkmark" style="float: left;" (click)="aceptar(match)" ></ion-icon>
        </ion-fab-button>
    
      </ion-card-header>
   
    </ion-card>
  </ion-list>
</ion-content>
