<ion-header translucent>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/welcome"></ion-back-button>
      </ion-buttons>
      <ion-title>Matches</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item>Enviados:</ion-item>
    <ion-card *ngFor="let match of matches">
      
      <ion-card-header *ngIf= "match.esEmisor == true "> 
        <ion-card-subtitle class="ion-text-capitalize">{{match.nombreEmisor }} → {{match.nombreReceptor }}</ion-card-subtitle>
        <ion-card-title  class="ion-text-capitalize">{{ match.estado }}</ion-card-title>
      </ion-card-header>
   
    </ion-card>
    <ion-item>Recibidos:</ion-item>
    <ion-card *ngFor="let match of matches">
      
      <ion-card-header *ngIf= "match.esEmisor == false " > 
        <ion-card-subtitle class="ion-text-capitalize">{{match.nombreEmisor}} → {{match.nombreReceptor }}</ion-card-subtitle>
        <ion-card-title class="ion-text-capitalize">{{ match.estado }}</ion-card-title>
        
        <ion-fab-button *ngIf= "match.estado == 'pendiente' " color="danger" size="small" style="float: right;">
        <ion-icon name="close"  (click)="rechazar(match)" ></ion-icon>
        </ion-fab-button>
    
        <ion-fab-button *ngIf= "match.estado == 'pendiente' " color="success" size="small" style="float: right;">
        <ion-icon name="checkmark" style="float: left;" (click)="aceptar(match)" ></ion-icon>
        </ion-fab-button>
    
      </ion-card-header>
   
    </ion-card>
  </ion-list>
</ion-content>
