<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Mascotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item *ngFor="let mascota of mascotas">
          <ion-avatar slot="start">
              <img src="http://pm1.narvii.com/6284/e4cbd71f7a5ec65aed7ce705f152035b1adeed42_00.jpg">
            </ion-avatar>
            <ion-label>
              <h2>{{ mascota.nombre | uppercase }}</h2>
              <h3>{{ mascota.raza }}</h3>
              <p>{{ mascota.descripcion }}</p>
            </ion-label>
        </ion-item>
      </ion-list>
</ion-content>
