<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>PetPlace</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input id="nombre" name="email" type="email" placeholder="Email" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="username" type="text" placeholder="Nombre de Usuario" minlength="6" maxlength="20" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="password" type="password" minlength="6" maxlength="20" placeholder="Contraseña"  [(ngModel)]="pass" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="password_repeat" type="password" minlength="6" maxlength="20" placeholder="Repetir contraseña"  [(ngModel)]="pass2" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="name" type="text" placeholder="Nombre" minlength="2" maxlength="15" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="lastname" type="text" placeholder="Apellido" minlength="3" maxlength="15" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Registrar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
